* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'TF2Build';
    src: url('./fonts/tf2build.ttf') format('truetype');
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.first-section {
    height: 100vh; 

    background-color: #f5e7de; 
}

.second-section {
    height: 100vh;
    /* adds a little gap between each viewport */
    transform: translateY(100px); 

    /* bg is in left / right section */

        
    /* i dont know why it needs a flex here but it prevents it from messing up */
    display: flex;

    transition: opacity 0.5s ease, transform 0.5s ease;
}

.third-section {
    height: 100vh;
    /* i don't know why this doesn't add a gap between the viewports */
    transform: translateY(100px);

    background-color: #34302d; 
    
    display: flex;

    transition: opacity 0.5s ease, transform 0.5s ease;
}