* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'TF2Build';
    src: url('./fonts/tf2build.ttf') format('truetype');
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.first-section {
    height: 100vh; 
}

.second-section {
    position: relative; 
    transform: translateY(100px);
    height: 100vh;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    transition: opacity 0.5s ease, transform 0.5s ease;
    padding: 0 5%; 
}

.third-section {
    transform: translateY(100px);
    height: 100vh;
    transition: opacity 0.5s ease, transform 0.5s ease;
}